/* ---------------- Reset & Base ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  flex: 1; 
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff8f3;
  color: #3d2e1e;
  line-height: 1.6;
  font-size: clamp(0.9rem, 1vw, 1rem);
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: #2b1b0f;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* -------------------- Navbar -------------------- */
.navbar {
  background-color: #4b2e1e;
  color: #FFF9F4;
  padding: 20px clamp(5%, 8vw, 8%);
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  z-index: 1000;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px; 
}

.logo {
  display: flex;
  align-items: center;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.logo img.brand-logo {
  height: 60px;
  width: 60px;
  margin-left: 15px;
}

/* Navigation links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a.active {
  color: #d2a06a;
  font-weight: bold;
  border-bottom: 2px solid #d2a06a;
}

.nav-links a {
  color: #FFF9F4;
  font-weight: 500;
  font-family: 'Crison Text', serif;
  font-size: clamp(0.85rem, 1.5vw, 1.2rem);
}

.nav-links a:hover {
  color: #d2a06a;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* User Menu */
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  height: 30px;
  width: 30px;
}

.user-menu .dropdown.show {
  display: block;
}

.user-menu .dropdown {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #4b2e1e;
  border: 1px solid #d2a06a;
  border-radius: 5px;
  padding: 10px;
  min-width: 140px;
  z-index: 9999;
}

.user-menu .dropdown a {
  display: flex;
  align-items: center;
  color: #FFF9F4;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
}

.user-menu .dropdown a:hover {
  background-color: #d2a06a;
  color: #4b2e1e;
}

.login-icon {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

/*-------------------- Main Content -----------------------*/

/* ---------------- Dashboard Title ---------------- */

.dashboard-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: clamp(1.5rem, 2.5vw, 2.2rem);
  margin-bottom: 30px;
  margin-top: 6%;
}

/* ---------------- Admin Navigation Buttons ---------------- */
.admin-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 0 auto 25px auto;
  background: #371E00;
  padding: 7px;
  border-radius: 8px;
  max-width: 550px;
}

.admin-nav button {
  background: #5a320a;
  color: white;
  border: none;
  padding: clamp(6px, 1vw, 10px) clamp(25px, 1.5vw, 16px);
  font-size: clamp(0.8rem, 1.2vw, 0.95rem);
  border-radius: 6px;
  cursor: pointer;
  flex: 0.2 0.2 auto;
  min-width: 120px;
  transition: 0.3s ease;
}

.admin-nav button:hover {
  background: #8f5c25;
}

.admin-nav button.active {
  background: #8f5c25;
}


/* -------------------- Product Management Section -------------------- */
.product-management {
  background: #fff; 
  max-width: 95%;            
  margin: auto;        
  padding: clamp(20px, 5vw, 70px); 
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(109, 58, 11, 0.5); 
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 5vw, 40px);
  margin-bottom: 70px; 
  align-items: center;
  margin-top: 20px;
}

.product-management h3 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: clamp(1.4rem, 2vw, 1.8rem); 
  margin-bottom: 10px;
  width: 100%;
}

/* -------------------- Add Product Form -------------------- */
.product-form-container {
  background: #fdf6ed;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(109, 58, 11, 0.5);
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.product-form-container h4 {
  text-align: left;
  margin-bottom: 45px;
  font-weight: semi-bold;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
}

.product-form-container,
.existing-products-container {
  width: 100%;
  padding: clamp(25px, 2.5vw, 45px);
}


.form-scroll {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    width: 100%;
}

label {
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    color: #3e2723;
    margin-bottom: 8px;
    font-family: Rufina, serif;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: clamp(6px, 1vw, 10px);
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: clamp(0.85rem, 1vw, 1rem);
    color: #3e2723;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #99662c;
    box-shadow: 0 0 5px rgba(153, 102, 44, 0.3);
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
    font-family: 'Arial', serif;
}

input::placeholder,
textarea::placeholder {
    color: #888;
}

.product-form-container h3,
.product-form-container h4,
.product-form-container h5 {
    width: 100%;
    margin-bottom: 15px;
    color: #2b1b0f;
}

/* -------- Category Select Styling -------- */
select {
  width: 100%;
  padding: clamp(6px, 1vw, 10px);
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: #3e2723;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  border-color: #99662c;
  box-shadow: 0 0 5px rgba(153, 102, 44, 0.3);
  outline: none;
}

/* Custom dropdown arrow */
.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #7e4723;
  font-size: 0.7rem;
}

/* -------------------- Image Upload Box -------------------- */
.upload-box {
  border: 1px dashed #aaa9a9;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  background: #fff8f3;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.upload-box p {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #5a3a1a;
}

.upload-box:hover {
  background: #fff3e0;
  border-color: #7e4723;
}

.upload-box.dragover {
  background: #ffe0c6;
  border-color: #b36205;
}

/* Browse button inside upload box */
.upload-box button {
  background: #b36205;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.upload-box button:hover {
  background: #7e4723;
}

/* Preview Image */
.image-preview {
  margin-top: 15px;
  text-align: center;
  display: none;
}

.image-preview img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(109, 58, 11, 0.4);
  object-fit: cover;
}

.submit-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #B36205;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: clamp(0.85rem, 1vw, 0.95rem);
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px; 
    justify-content: center;
}

.submit-btn:hover {
    background-color: #7e4723;
    transform: scale(1.02);
}

/* -------------------- Existing Products Table Subsection -------------------- */
.existing-products-container {
  background: #fdf6ed;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(109, 58, 11, 0.5);
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1px;
  overflow: auto;
}

.existing-products-container h4 {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  font-size: clamp(1.1rem, 1.5vw, 1.4rem);
  color: #2b1b0f;
}

.products-table-wrapper {
  width: 100%;
  max-height: 400px;
  overflow: auto;  
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-top: -5px;
}

/* -------------------- Products Table Styling -------------------- */
.products-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
}

.products-table th,
.products-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  font-size: clamp(0.5rem, 1.5vw, 1rem);
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  text-align: center;
}

.products-table th {
  position: sticky;
  top: 0; 
  z-index: 2; 
  background: #ffdfbb;
  font-weight: bold;
  text-align: center;
}

/* Product Image box */
.products-table td:nth-child(1),
.products-table th:nth-child(1) {
  text-align: center;
  width: 120px;
}

.products-table td.product-image-cell {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.photo-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff8f3;
  box-shadow: 0px 2px 6px rgba(109, 58, 11, 0.5);
}

.photo-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* Name, Category, Price columns*/

.products-table td:nth-child(2),
.products-table td:nth-child(3),
.products-table th:nth-child(2),
.products-table th:nth-child(3) {
  text-align: center;
}

/* -------- Product Description Column -------- */
.products-table td.description-cell,
.products-table th.description-cell {
  max-width: 250px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Actions Column */
.products-table td:nth-child(6) {
  line-height: 5;
  min-height: 130px;
}

.products-table th:nth-child(6) {
  text-align: center;
  width: 90px;
  vertical-align: middle;
  padding: 8px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.actions button {
  width: clamp(24px, 3vw, 32px);
  height: clamp(24px, 3vw, 32px);
  border: none;
  border-radius: 50%;
  background-color: #ffebdbe5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: clamp(14px, 2vw, 18px);
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  justify-content: center;
}

.actions-cell button:hover {
  background-color: #ffe0c6;
  transform: scale(1);
}

.actions button.edit {
  background-image: url("../assets/icons/editing.png");
}

.actions button.delete {
  background-image: url("../assets/icons/trash.png");
}



/* ---------------- Footer ---------------- */
.footer {
  background: #4b2e1e;
  color: #fff;
  padding: 3rem 10% 1rem;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.footer-content {
  display: grid;
  grid-template-columns: 2.5fr 3fr 2.5fr;
  gap: 2.5rem;
  justify-items: start;
  align-items: start;
}

.footer h3 {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.footer h4 {
  font-size: clamp(0.9rem, 1.6vw, 1rem);
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.footer p {
  font-family: 'Open Sans', serif;
  font-size: clamp(0.8rem, 1vw, 0.95rem);
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.footer-about .brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: #fff;
}

.footer-about .brand span {
  display: inline-block;
}

.footer-about .brand img {
  height: 50px;           
  display: inline-block;
  transform: translateY(-10px);
}

/* Footer Links */
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.6rem;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #d6bfa7;
}

/* Contact Info */
.footer .contact-info p,
.footer .contact-info a {
  font-size: 0.9rem;
  margin: 0.3rem 0;
  display: flex;
  align-items: left;
  gap: 0.2rem;
  color: #fff;
  text-decoration: none;
  justify-content: left;
  text-align: left;
}

/* Contact icons */
.contact-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer .contact-info a:hover {
  color: #d6bfa7;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  border-top: 1px solid #7a5a3d;
  padding-top: 1rem;
}

/* -------------------- Responsive Breakpoints -------------------- */

/* Large Desktop (>=1200px) */
@media (min-width: 1200px) {
  body { font-size: 1rem; }
  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }
  .menu-toggle { display: none; }
  .dashboard-title { font-size: 2.2rem; margin-top: 6%; }
  .product-management { padding: 40px 5%; max-width: 90%; }
  .product-management h3 { font-size: 1.8rem; margin-top: 5px;}
  .product-form-container { padding: 35px; min-height: 100%;}
  .product-form-container,
  .existing-products-container {
    padding: 35px 25px;}
  .products-table th, .products-table td { font-size: 1rem; }
  .admin-nav {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 620px;
    margin: 0 auto;}
  .admin-nav button { flex: 0.2 0.2 auto; min-width: 120px; }
  .footer-content {
    grid-template-columns: 1.3fr 1fr 0.5fr;
    gap: 3rem;
  }
}

/* Desktop / Laptop (992px – 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 1.8rem;
  }
  .menu-toggle { display: none; }
  .photo-box { width: 80px; height: 80px; }
  .products-table { font-size: 0.95rem; }
  .form-row { flex-wrap: wrap; }
  .existing-products-container {
    padding: 35px 25px;}
  .admin-nav {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 560px;
    margin: 0 auto;}
  .admin-nav button { flex: 0.2 0.2 auto; min-width: 120px; }
  .footer-content {
    grid-template-columns: 0.8fr 0.5fr 0.5fr;
    gap: 3rem;
  }
}

/* Tablet (768px – 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  .menu-toggle { display: none; }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 1.8rem;
  }

  .form-row { flex-direction: column; gap: 15px; }
  .product-management { padding: 25px 5%; max-width: 90%; margin: 20px auto; margin-bottom: 50px;}
  .products-table { 
    width: 100%;
    min-width: 600px;
    border-collapse: collapse; }
  
  .products-table th, .products-table td { font-size: 0.9rem; padding: 10px;}
  .photo-box { width: 70px; height: 70px; }
  .admin-nav {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 550px;
    margin: 0 auto;}
  .admin-nav button { flex: 0.2 0.2 auto; min-width: 120px; }
  .footer-content {
    grid-template-columns: 0.8fr 0.4fr 0.6fr; 
    gap: 3rem;
  }
}

/* Mobile (576px – 767px) */
@media (max-width: 767px) and (min-width: 576px) {
  .menu-toggle { display: block; }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4b2e1e;
    flex-direction: column;
    width: 90%;
    display: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    gap: 10px;
    justify-content: center;
  }

  .nav-links.active { display: flex; }

  .nav-links a { margin: 10px 0; font-size: 0.95rem; }

  .user-menu { order: 3; margin-top: 10px; }
  .dashboard-title { font-size: 1.6rem; }
  .admin-nav {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 550px;
    margin: 0 auto;}
  .admin-nav button { flex: 0.2 0.2 auto; min-width: 120px; }
  .product-management { padding: 20px 2%; max-width: 100%; margin: 20px 20px auto; }
  .product-form-container { padding: 20px; }
  .products-table { 
    width: 100%;
    min-width: 600px;
    border-collapse: collapse; }
  .products-table th, .products-table td { font-size: 0.85rem; padding: 10px; }
  .photo-box { width: 60px; height: 60px; }
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }

  .footer-about .brand {
    justify-content: center;
  }

  .footer-links ul {
    text-align: center;
  }

  .footer .contact-info {
    text-align: center;
    align-items: center;
  }
}

/* Extra Small Mobile (<=575px) */
@media (max-width: 575px) {
  .menu-toggle { display: block; }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 2.5%;
    background-color: #4b2e1e;
    flex-direction: column;
    width: 95%;
    display: none;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    gap: 10px;
    justify-content: center;
  }

  .nav-links.active { display: flex; }

  .nav-links a { margin: 10px 0; font-size: 0.9rem; }

  .logo { font-size: clamp(1rem, 4vw, 1.4rem); }
  .user-menu { order: 3; margin-top: 10px; }
  .dashboard-title { font-size: 1.4rem; }
  .admin-nav { flex-direction: column; align-items: stretch; gap: 10px; width: 50%; margin: auto; }
  .admin-nav button { width: 100%; text-align: center; font-size: 0.8rem; padding: 8px 0; }
  .form-row { flex-direction: column; gap: 10px; }
  .product-management { padding: 15px 2%; max-width: 100%; margin: 20px 20px auto; }
  .products-table { 
    font-size: 0.8rem; 
    overflow-x: auto; 
    width: 100%;
    border-collapse: collapse; }
  .products-table th, .products-table td { font-size: 0.80rem; padding: 8px; }
  .photo-box { width: 60px; height: 60px; }
  .footer {
    padding: 2rem 1rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
    justify-items: center;
  }

  .footer-about .brand {
    justify-content: center;
    text-align: center;
  }

  .footer-links ul {
    text-align: center;
  }

  .footer .contact-info {
    text-align: center;
    align-items: center;
  }
}