/* ---------------- Reset & Base ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  flex: 1; 
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF9F4;
  color: #3d2e1e;
  line-height: 1.6;
  font-size: clamp(0.9rem, 1vw, 1rem);
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  color: #2b1b0f;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ---------------- Navbar / Header ---------------- */
.navbar {
  background-color: #4b2e1e;
  color: #FFF9F4;
  padding: 20px clamp(5%, 8vw, 8%);
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  flex-wrap: wrap;
  top: 0;
  z-index: 1000;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px; 
}

.logo {
  display: flex;
  align-items: center;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.logo img.brand-logo {
  height: 60px;
  width: 60px;
  margin-left: 15px;
}

/* Navigation links */
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: #FFF9F4;
  font-weight: 500;
  font-family: 'Crison Text', serif;
  font-size: clamp(0.85rem, 1.5vw, 1.2rem);
}

/* Highlight active nav link */
.nav-links a.active {
  color: #d2a06a;  
  font-weight: bold;
  border-bottom: 2px solid #d2a06a;
}

.nav-links a:hover {
  color: #d2a06a;
}

/* Mobile Menu Toggle */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

main {
  flex: 1;
  width: 100%;
  max-width: 100%;
  margin: 0; 
  padding: 0;
}

/* ---------------- Customer Reviews Title ---------------- */
.review-title {
  position: relative; 
  width: 100%; 
  background: #fff9f4; 
  padding: 4rem 10% 5rem; 
  text-align: center; 
  color: #3d2e1e; 
  font-family: "Open Sans", sans-serif;
}

.review-title h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.8rem, 2.5vw, 2.3rem);
  margin-bottom: 0.5rem;
}

.review-title p {
  font-size: clamp(0.9rem, 1.2vw, 1.05rem);
  color: #555;
  margin-bottom: -2rem;
  max-width: 600px;
  margin-inline: auto;
}

.reviews-section {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 5%;
  box-sizing: border-box;
  margin-bottom: 80px;
}

/* Review Analysis Box */
.review-analysis-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(109, 58, 11, 0.5);
}

.scrollable-reviews {
  max-height: 800px;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 5px;
}

.review-analysis-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap; 
}

.analysis-left {
  flex: 1 1 40%;
  text-align: left;
  min-width: 220px;
}

.analysis-right {
  flex: 1 1 55%;
  text-align: right;
  min-width: 300px;
}

.rating-table {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px 15px;
}

.rate { 
    grid-row: 1 / span 2; 
    font-size: clamp(2rem, 5vw, 8rem); 
    font-weight: bold; 
    color: black; 
    margin-left: 16px; 
}

.stars { 
    font-size: clamp(1rem, 2.5vw, 1.5rem); 
    color: #ffc107; 
    line-height: 0.5; 
    margin-top: 15px;
}

.stars .star {
  display: inline-block;
  position: relative;
  color: #ccc;
}

.stars .star.full {
  color: #ffc107;
}

.stars .star.half {
  color: #ffc107; 
  background: linear-gradient(to right, #ffc107 50%, #ccc 50%);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.based-on-reviews { 
    font-size: (0.75rem, 1.2vw, 0.95rem); 
    color: black; }

.percentage { 
    margin: 15px; 
    font-size: (0.75rem, 1.2vw, 0.95rem); 
    color: black; 
}

.rating-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.rating-bar-row span { 
    font-size: clamp(0.75rem, 1.2vw, 0.95rem); 
    color: black; 
}

.bar-container {
  width: 100%;
  height: 12px;
  background: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}
.bar-fill {
  height: 100%;
  background: #ffc107;
  border-radius: 4px;
}

/* Review Cards Row */
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.review-card {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  background: #fff;
  border-radius: 8px;
  padding: 20px ;
  box-shadow: 0 4px 15px rgba(109, 58, 11, 0.5);
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Review Card Inner */
.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.quote-icon { 
    font-size: 48px; 
    color: #ccc; 
    margin-right: 15px; 
    margin-top: -20px;
}
.reviewer-info { 
    display: flex; 
    flex-direction: column; 
    flex-grow: 1;
}
.reviewer-name { 
    font-weight: bold; 
    color: #333; 
}

.product-name, .review-time { 
    font-size: 0.9em; 
    color: #666; 
    margin-top: 2px; 
}

.rating-stars { 
    font-size: 24px; 
    color: #ccc; 
}

.star { 
    margin-right: 2px; 
}
.star.filled { 
    color: #ffd700; 
}

.review-text { 
    font-size: 1em; 
    color: #444; 
    line-height: 1.6; 
    font-style: italic; 
}

/* ---------------- Call to Actions Section ---------------- */
.cta-section {
  width: 100%;
  min-height: 20rem;
  background: #AF7838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5%;
  text-align: center;
  color: #fff;
}

.cta-section h2 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.5rem;
}

.cta-section p {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  min-height: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.cta-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cta-buttons .btn {
  padding: 0.6rem 1rem;
  border: none;
  background: #fdf5ef;
  color: #2b1a0d;
  font-weight: 500;
  font-size: clamp(0.65rem, 1vw, 1rem);
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.cta-buttons .btn:hover {
  background: #fff;
  transform: translateY(-3px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

/* ---------------- Share Section ---------------- */
.share-section {
  width: 100%;
  min-height: 18rem;
  background: #f1d0ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5%;
  text-align: center;
  color: #444;
}

.share-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.share-section p {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.share-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.share-buttons .btn {
  padding: 0.6rem 1.2rem;
  border: none;
  background: #fdf5ef;
  color: #2b1a0d;
  font-weight: 500;
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.share-buttons .btn:hover {
  background: #fff;
  transform: translateY(-3px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}


/* ---------------- Footer ---------------- */
.footer {
  background: #4b2e1e;
  color: #fff;
  padding: 3rem 10% 1rem;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.footer-content {
  display: grid;
  grid-template-columns: 2.5fr 3fr 2.5fr;
  gap: 2.5rem;
  justify-items: start;
  align-items: start;
}

.footer h3 {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.footer h4 {
  font-size: clamp(0.9rem, 1.6vw, 1rem);
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.footer p {
  font-family: 'Open Sans', serif;
  font-size: clamp(0.8rem, 1vw, 0.95rem);
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.footer-about .brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: #fff;
}

.footer-about .brand span {
  display: inline-block;
}

.footer-about .brand img {
  height: 50px;           
  display: inline-block;
  transform: translateY(-10px);
}

/* Footer Links */
.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.6rem;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #d6bfa7;
}

/* Contact Info */
.footer .contact-info p,
.footer .contact-info a {
  font-size: 0.9rem;
  margin: 0.3rem 0;
  display: flex;
  align-items: left;
  gap: 0.2rem;
  color: #fff;
  text-decoration: none;
  justify-content: left;
  text-align: left;
}

/* Contact icons */
.contact-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer .contact-info a:hover {
  color: #d6bfa7;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  border-top: 1px solid #7a5a3d;
  padding-top: 1rem;
}

/* -------------------- Responsive Breakpoints -------------------- */

/* Large Desktop (>=1200px) */
@media (min-width: 1200px) {
  body { font-size: 1rem; }
  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }
  .menu-toggle { display: none; }
  .footer-content {
    grid-template-columns: 1.3fr 1fr 0.5fr;
    gap: 3rem;
  }
  .contact-header { padding: 5rem 15%; }
  .contact-details {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  .message-form-section .review-management { max-width: 75%; }
  .review-title { padding: 5rem 15% 4rem; }
  .review-analysis-box { padding: 3rem; font-size: 1rem;}
  .reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 95%;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  }

  .review-card {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    background: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(109, 58, 11, 0.5);
  }

  .reviews-section {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

/* Desktop / Laptop (992px – 1199px) */
@media (max-width: 1199px) and (min-width: 992px) {
  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 1.8rem;
  }
  .menu-toggle { display: none; }
  .footer-content {
    grid-template-columns: 0.8fr 0.5fr 0.5fr;
  }
  .contact-header { padding: 4rem 12%; }
  .contact-details {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .review-title { padding: 4rem 12% 3.5rem; }
  .review-analysis-box { 
    padding: 1rem; 
    font-size: 0.95rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
  }

  .reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 95%;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.review-card {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(109, 58, 11, 0.5);
}

.reviews-section {
  grid-template-columns: 1fr;
  justify-content: center;
}

}

/* Tablet (768px – 991px) */
@media (max-width: 991px) and (min-width: 768px) {
  .menu-toggle { display: none; }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 1.8rem;
  }
  .footer-content {
    grid-template-columns: 0.8fr 0.4fr 0.6fr;
    gap: 3rem;
  }
   .contact-header { padding: 3rem 8%; }
  .contact-details {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .message-form-section .review-management {
    padding: 2rem;
  }

  .direct-contact-section h2 { font-size: 1.8rem; }
  .direct-contact-section p { font-size: 0.9rem; }
  .cta-buttons {
    gap: 1.5rem;
  }
  .cta-buttons .btn {
    font-size: 0.6rem;
    padding: 0.55rem 0.9rem;
    max-width: 200px;
  }
  .review-title { padding: 3rem 8% 3rem; }
  .review-title h2 { font-size: 1.8rem; }
  .review-title p { font-size: 0.95rem; }

  .review-analysis-container { align-items: center; gap: 2rem; }
  .analysis-left, .analysis-right { max-width: 100%; text-align: left; }

  .review-analysis-box { padding: 2rem; font-size: 0.9rem}
  .reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.review-card {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(109, 58, 11, 0.5);
}

  .reviews-section {
    grid-template-columns: 1fr;
  }
}

/* Mobile (576px – 767px) */
@media (max-width: 767px) and (min-width: 576px) {
  .menu-toggle { display: block; }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4b2e1e;
    flex-direction: column;
    width: 90%;
    display: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    gap: 10px;
    justify-content: center;
  }

  .nav-links.active { display: flex; }

  .nav-links a { margin: 10px 0; font-size: 0.95rem; }

  .contact-header { padding: 2.5rem 6%; }
  .contact-details {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .contact-card { padding: 1.5rem; }
  .message-form-section .review-management {
    padding: 1.5rem;
  }
  .message-form-section .form-row {
    flex-direction: column;
    gap: 15px;
  }
  .direct-contact-buttons { gap: 15px; }
  .btn { width: 100%; }

  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }

  .footer-about .brand {
    justify-content: center;
  }

  .footer-links ul {
    text-align: center;
  }

  .footer .contact-info {
    text-align: center;
    align-items: center;
  }

  .direct-contact-section h2 { font-size: 1.6rem; }
  .direct-contact-section p { font-size: 0.95rem; }
  .direct-contact-buttons { gap: 1rem; }
  .cta-buttons {
    gap: 1rem;
  }
  .cta-buttons .btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    max-width: 180px;
  }

  .review-title { padding: 2.5rem 6% 2.5rem; }
  .review-title h2 { font-size: 1.6rem; }
  .review-title p { font-size: 0.9rem; }

  .review-analysis-container { align-items: center; gap: 2rem; }
  .analysis-left, .analysis-right { max-width: 100%; text-align: left; flex: 1 1 100%;}

  .review-analysis-box { padding: 1.5rem; font-size: 0.9rem; margin-top: 20px;}
  .reviews-container { 
    gap: 1.2rem;
    align-items: center;
  }
  
  .review-card { 
    flex: 1 1 100%; 
    max-width: 100%; 
  }
  

  .cta-section h2, .share-section h2 { font-size: 1.6rem; }
  .cta-buttons, .share-buttons { flex-direction: column; gap: 1rem; }
  .cta-buttons .btn, .share-buttons .btn { width: 100%; max-width: 100%; }
}

/* Extra Small Mobile (<=575px) */
@media (max-width: 575px) {
  .menu-toggle { display: block; }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 2.5%;
    background-color: #4b2e1e;
    flex-direction: column;
    width: 95%;
    display: none;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    gap: 10px;
    justify-content: center;
  }

  .nav-links.active { display: flex; }

  .nav-links a { margin: 10px 0; font-size: 0.9rem; }

  .logo { font-size: clamp(1rem, 4vw, 1.4rem); }
  .footer {
    padding: 2rem 1rem;
  }

  .contact-header h1 { font-size: 1.6rem; }
  .contact-header p { font-size: 0.9rem; padding: 0 1rem; }
  
  .contact-details {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
  .contact-card { padding: 1rem; }
  
  .message-form-section h2 { font-size: 1.3rem; }
  .message-form-section p { font-size: 0.9rem; }
  .message-form-section .review-management {
    padding: 1rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
    justify-items: center;
  }

  .footer-about .brand {
    justify-content: center;
    text-align: center;
  }

  .footer-links ul {
    text-align: center;
  }

  .footer .contact-info {
    text-align: center;
    align-items: center;
  }

  .direct-contact-section {
    padding: 2rem 8%;
  }
  .direct-contact-section h2 { font-size: 1.4rem; }
  .direct-contact-section p { font-size: 0.9rem; }
  .cta-buttons {
    flex-direction: column;
    align-items: center;
  }
  .cta-buttons .btn {
    width: 100%;
    max-width: 100%;
    font-size: 0.8rem;
    padding: 0.55rem 0.9rem;
  }
  .direct-contact-buttons .btn img {
    width: 15px;
    height: 15px;
  }
  .review-title { padding: 2rem 5% 2rem; }
  .review-title h2 {
    font-size: clamp(1.5rem, 5vw, 1.9rem);
  }
  .review-title p { font-size: 0.85rem; }

  .review-analysis-box { padding: 1rem; margin-top: 40px;}
  .analysis-left, .analysis-right { text-align: left; }

  .reviews-container { gap: 2rem; margin-top: -20px;}
  .review-card { 
    padding: 1rem; 
    font-size: 0.9rem; 
    margin-top: 20px; 
    flex: 1 1 100%; 
    max-width: 100%; }

  .cta-section h2, .share-section h2 { font-size: 1.4rem; }
  .cta-section p, .share-section p { font-size: 0.9rem; }
  .cta-buttons, .share-buttons { flex-direction: column; }
  .cta-buttons .btn, .share-buttons .btn { 
    font-size: 0.8rem; 
    padding: 0.6rem;
    width: 100%; }
}